body {
    background-color: #259c9b;
}

.success, .table>tbody>tr.success>td {
    background-color: rgba(223, 240, 216, 0.7) !important;
}

#game-cards-container-area {
    min-height: 106px;
}

.loading-background {
    position: fixed;
    background-color:#259c9b;
    z-index:9;
}

.loading-background.top {
    height:310px;
    width:100%;
    left:0;
    top:0;
}

.loading-background.left {
    height:calc(100% - 310px);
    width: calc(50% + 5px);
    left:0;
    bottom:0;
}

.loading-background.bottom {
    height:calc(100% - 520px);
    width: calc(50% - 5px);
    right:0;
    bottom:0;
}

#action-waiting .loading-content {
    position: fixed;
    top: 228px;
    margin-left: 438px;
    width: 400px;
    height: 70px;
    background: #259c9b;
    border-radius: 25px;
    border: 10px solid white;
    padding-top: 0px;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#loader .loading-background {
    position: fixed;
    height:100%;
    width:100%;
    background-color:#259c9b;
    z-index:9;
    left:0;
    top:0;
}

#loader .loading-content {
    position: fixed;
    top: 5%;
    margin-left: 325px;
    width: 500px;
    height: 150px;
    background: #259c9b;
    border-radius: 25px;
    border: 10px solid white;
    padding-top: 0px;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#waiting-for-text {
    margin-top: 12px !important;
}

h1, h2, h3, h4, h5, label, table {
    color: white;
    font-weight: 200;
}
.trump-choose {
    font-size: 14pt;
    padding-top:20px;
    text-align: center;
    cursor: pointer;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: inline-block;
    margin: 4%;
    width: 15%;
    padding-bottom: 30px;
}

.trump-choose .trump-suit {
    margin:10px;
    width: 100%;
    font-size: 75pt;
}

.trump-choose .trump-wording {
    padding-top:10px;
    display: inline-block;
    width: 100%;
}

#trumps-hearts .trump-suit, #trumps-diamonds .trump-suit {
    color: red;
}

.card {
    text-align: left !important;
    font-size: 20pt!important;
    padding-left: 5px!important;
    width:70px !important;
    height:90px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#guess-text {
    color: red;
    font-weight:bold;
    font-size: 14pt;
    margin-top:15px;
    margin-bottom:15px;
    display: inline-block;
}

/**
 Log Box
 */
.game-log {
    position:fixed;
    z-index:11;
    bottom:0;
    left:0;
    width:calc(100% - 20px);
    height: 25%;
    max-height: 250px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.game-log.open {
    height: 30px;
    overflow-y: hidden;
}

.game-log h4 {
    margin:0;
    color:white;
    font-size: 10pt;
    padding: 8px;
    font-weight:bold;
    cursor: pointer;
    background-color: #1a4545;
    border-radius: 5px 5px 0 0;
}

.game-log-messages {
    height: 220px;
    overflow-y: scroll;
}

.game-event {
    padding: 5px;
}

/**
 Whist Games Table
 */
.playing-table {
    background-color: #2b542c;
    width:50%;
    min-height: 250px;
    height: 25%;
    margin-left:25%;
    margin-bottom:40px;
}

.card-mini {
    text-align:center !important;
    height: 25px !important;
    width:30px !important;
    padding: 2px !important;
    margin: 0 !important;
    margin-left: 3px !important;
    font-size: 9pt !important;
    display:inline-block !important;
    float: none !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.card {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    cursor: pointer;
}

.card.playable-card:hover {
    background-color: rgb(177, 238, 248);
    border-color:white;
    margin-top: 0px;
}
.card.disabled:hover {
    background-color: rgb(255, 175, 169);
    border-color:white;
}

.card.disabled {
    background-color: #ababab;
}

.card.raised {
    /*margin-top: 0px;*/
}

.card .extra-text {
    font-size: 10pt;
    color: #777;
    text-align: center;
}

.game-table h1 {
    color: #259c9b;
    margin-top: 0;
}

.game-table {
    background-color: white;
    color: #777;
    text-align: center;
    width:100%;
    font-size: 9pt;
    margin-bottom: 0;
}
.game-table td, .game-table th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.game-table tr:last-child td {
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

#game-score-container {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-bottom: 25%;
}

#game-score-container h4 {
    color: #777;
}

/**
 Card Style
 */
.card {
    list-style-type: none;
    width: 35px;
    height: 45px;
    background-color: white;
    border: 1px solid #777;
    margin: 5px;
    float:left;
    border-radius: 5px;
    margin-top:10px;
}

.diams, .hearts {
    color: red !important;
}
/**
 Miscellaneous
 */
.games-table h1 {
    color: #259c9b;
    margin-top: 0;
}

.games-table {
    background-color: white;
    color: #259c9b;
    text-align: center;
    width:100%;
    border-radius: 10px;
}

.games-table td, .games-table th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.games-table tr:last-child td {
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

.profile-image {
    width:100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
}

.whist-button-sm {
    font-size: 18px !important;
    font-weight: bold;
    padding: 5px;
    border: 2px solid #259c9b !important;
}

.whist-button {
    border-radius: 4px;
    border: solid 1px #979797;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #259c9b;
    padding: 5px;
}

.whist-button:hover {
    color: #ffffff;
    background-color: #259c9b;
    text-decoration: none;
}
