{% extends 'base-container.twig' %}

{% block content %}
        <h4>Game Details: {{ game.name }}</h4>
        <br><br>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div id="game-actions-container">
                </div>
            </div>
            <div class="col-md-2 col-lg-3">
                <div id="game-cards-container" class="playingCards rotateHand">
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div id="game-score-container">
                </div>
            </div>
        </div>
        <div id="game-overlay" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="game-overlay-type"></p>
                        <input type="hidden" id="game-overlay-game-id" name="gameId">
                        <input type="hidden" id="game-overlay-hand" name="hand">
                        <input type="hidden" id="game-overlay-player-id" name="playerId">
                        <input type="hidden" id="game-overlay-value-type" name="valueType">
                        <input type="text" id="game-overlay-value" name="value">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary submit-data">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var notAllowedValue = '';

            $(function() {
                setInterval(
                    updateScore,
                    1000
                );
                function updateScore() {
                    $.get('../../games/score/{{ game.id }}', function(response) {
                        $('#game-score-container').html(response);
                    });
                }
                setInterval(
                    updateActions,
                    1000
                );
                function updateActions() {
                    $.get('../../games/actions/{{ game.id }}', function(response) {
                        $('#game-actions-container').html(response);
                    });
                }
                setInterval(
                    updateCards,
                    1000
                );
                function updateCards() {
                    $.get('../../games/cards/{{ game.id }}', function(response) {
                        $('#game-cards-container').html(response);
                    });
                }
                $('.submit-data').on('click', function() {
                    submitData();
                });
            });

            function submitData()
            {
                $.get( "../../games/input", {
                    gameId: $('#game-overlay-game-id').val(),
                    hand: $('#game-overlay-hand').val(),
                    playerId: $('#game-overlay-player-id').val(),
                    valueType: $('#game-overlay-value-type').val(),
                    value: $('#game-overlay-value').val(),
                })
                    .done(function( data ) {
                        $('#game-overlay').modal('hide');
                    });
            }

            function sendComplete(gameId, handId)
            {
                $.get( "../../games/input", {
                    gameId:     gameId,
                    hand:       handId,
                    valueType: 'complete'
                })
                    .done(function( data ) {
                        $('#game-overlay').modal('hide');
                    });
            }

            function populateAndShowOverlay(gameId, handId, playerId, text, valueType, value)
            {
                if (valueType == 'complete' ) {
                    sendComplete(gameId, handId);
                }
                $('#game-overlay-type').html(text);
                $('#game-overlay-game-id').val(gameId);
                $('#game-overlay-hand').val(handId);
                $('#game-overlay-player-id').val(playerId);

                $('#game-overlay-value-type').val(valueType);
                $('#game-overlay-value').val(value);

                $('#game-overlay').modal('show');

            }
        </script>
{% endblock %}