{% extends 'base-container.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Select your player</h1>
            <br>
            <div class="row">
                {%  for player in players %}
                    <div class="col-xl-3 col-md-4 col-sm-4 col-xs-6 text-center">
                        <a href="login?user={{ player.id }}">
                            <img src="data:image/png;base64, {{ player.image }}" class="profile-image"><br>
                            <h3>
                                {{ player.name }}
                            </h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}